body {
        background-image: url('images/base-background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* index.html */
.heading-div{
    text-align: center;
    margin-top: 100px;
}
.heading-div h1{
    background-color: #758ECD;
    color: white;
    display: inline-block;
    padding: 5px 20px;
    cursor:cell;
    text-shadow: 2px 2px red;
}


.learnmore{
    margin-top: 270px;
    text-align: center;
}

.learnmore a{
    text-decoration: none;
    background-color: #D88C9A;
    color: aliceblue;
    font-size: 25px;
    padding: 5px 20px;
}

.learnmore a:hover{
    background-color: aliceblue;
    color: #D88C9A;
}


/* home.html */

.navigation {
    margin-top: 75px;
    border-top: 15px outset #DCCCFF;
    border-bottom: 15px inset #DCCCFF;

}

.navigation ul{
    text-align: center;
    padding-left: 0px;
}

.navigation li{
    display: inline-block;
    padding: 5px 25px;
    font-size: 25px;
}

.navigation a{
    text-decoration: none;
    color: azure;
}

.navigation a:hover{
    background-color: #B8D0EB;
    color: #4B5043;
    text-shadow: 2px 2px whitesmoke;
}

.navigation a:active{
    color: #4B5043;
    background-color: whitesmoke;
}

.content h1{
    margin-top: 60px;
    text-align: center;
    background-color: #D3FFE9;
}


.content p{
    text-align: center;
    color: azure;
}


/* projects.html */

.projects-div{
    text-align: center;
}

.project-heading {
    display: inline-block;
    text-align: center;
    color: #D3FFE9;
    margin-top: 40px;
    padding: 5px 20px;
    border: 5px solid #69D1C5;
    border-radius: 15px;
}

.project-heading:hover {
    background-color: #D3FFE9;
    color:#2E2F2F;
}

.projects-images {
    margin-top: 60px;
}

.projects-images ul{
    padding: 0;
    text-align: center;
}

.projects-images li {
    margin: 20px;
    display: inline;
}

.projects-images img {
    width: 45%;
    height: 300px;
}


/* about.html */

.about-me ul {
    margin: 50px;
    text-align: center;
}

.about-me li{
    display: inline-block;
    padding: 20px;
}

.about-me a{
    text-decoration: none;
    color: azure;
    font-size: 20px;
}

.about-me a:hover{
    background-color: #B8D0EB;
    color: #4B5043;
}

.about-me a:active{
    color: #4B5043;
    background-color: whitesmoke;
}

.form-div {
    text-align: center;
    margin-top: 120px;
}

.form-class fieldset{
    padding: 30px;
    border-radius: 50px;
    border: 3px solid #B8D0EB;
}

.form-class fieldset legend{
    background-color: #BBDBD1;
}

.form-class input {
    width: 40%;
    margin-top: 10px;
    background-color: transparent;
    color: #1B1B1E;
    border: none;
    border-bottom-style: groove;
    font-size: 15px;
} 

::placeholder{
    text-align: center;
    color: aliceblue;
}

input:focus{
    outline: none;
}

#form-submit{
    width: 20%;
    border-radius: 20px;
    margin-top: 25px;
    background-color: #60495A;
    color: #FFF3F0;
    font-weight: 550;
    cursor: pointer;
}

#form-submit:hover{
    background-color: #FFF3F0; 
    color: #60495A;
}


